.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 0;
    margin: 0;
    gap: 20px;
    box-sizing: border-box;
}

.home-left,
.home-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-left {
    background: var(--page-bg);
}

.home-image {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    border-radius: 2%;
}

.home-right {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.intro-title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
}

.typed-wrapper {
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    margin-left: 40px;
}

.intro-typed {
    font-size: 1.5rem;
    color: var(--navbar-accent);
    min-height: 2rem;

    display: inline-block;
    text-align: left;
}

.projects-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: var(--navbar-accent);
    color: var(--navbar-hover-text);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.projects-btn:hover {
    background-color: var(--navbar-hover-bg);
    color: var(--navbar-hover-text);
    transform: scale(1.05);
}

.light-text {
    color: var(--navbar-accent);
}

.dark-text {
    color: var(--navbar-accent);
}

.light-subtext {
    color: #374151;
}

.dark-subtext {
    color: #facc15;
}

.light-btn {
    background-color: var(--navbar-accent);
    color: var(--page-bg);
}

.dark-btn {
    background-color: var(--navbar-accent);
    color: var(--navbar-hover-text);
}

.light-btn:hover {
    background-color: #2c8bff;
    color: var(--navbar-hover-text);
}

.dark-btn:hover {
    background-color: var(--navbar-hover-bg);
    color: var(--navbar-hover-text);
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        min-height: auto;
        padding: 10px;
    }

    .home-left,
    .home-right {
        flex: unset;
        width: 100%;
        padding-left: 10px;
    }

    .home-image {
        max-height: 40vh;
    }

    .intro-title {
        font-size: 2rem;
    }

    .typed-wrapper {
        margin-left: 0;
    }

    .intro-typed {
        font-size: 1.2rem;
    }
}
